/* i copied in code and ideas from other people */

body {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
